.doubletap-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    height:100%;
    width:100%;
}

.image-container{
    position: absolute;
}

.image{
    height:100%;
    width:100%;
}

.doubletap-navbar{
    display:flex;
    position: absolute;
    height:11%; 
    width:100%;
    border:none;
}

button:hover{
    box-shadow: 5px 10px 10px grey;
}

.doubletap-logo{
    position: relative;
    background-color: transparent;
    height:50%;
    width:12%;
    top:30%;
    left: 7%;
    box-shadow: none;
    border:none;
}

.home-link{
    position: absolute;
    height:26%;
    width:5%;
    left:23%;
    bottom:25%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 10px;
    border-radius: 10px;
    border:none;
}

.features-link{
    position: absolute;
    height:26%;
    width:5%;
    left:32%;
    bottom:25%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border:none;
}

.pricing-link{
    position: absolute;
    height:26%;
    width:5%;
    left:41%;
    bottom:25%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border:none;
}

.how-it-works-link{
    position: absolute;
    height:26%;
    width:8%;
    left:48.5%;
    bottom:25%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border:none;
}

.support-link{
    position: absolute;
    height: 26%;
    width: 5%;
    left:59%;
    bottom:25%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border:none;
}

.sign-in-1{
    position: absolute;
    height: 45%;
    width: 7%;
    left:74%;
    bottom:17%;
    background-color: white;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.try-it-free{
    position: absolute;
    height: 45%;
    width: 7.5%;
    left:82%;
    bottom:17%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border:none;
}


.doubletap-header{
    display:flex;
    position: absolute;
    top:12%;
    height:75%; 
    width:100%;
    border:none;
}

.left-header{
    position: absolute;
    height:100%; 
    width:55%;
    border:none;
}

.sign-up-free{
    position:absolute;
    bottom:24%;
    left:20%;
    height:12%;
    width:25.7%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    border-radius: 10px;
    border:none;
}

.chat-with-us-1{
    position:absolute;
    bottom:24%;
    left:47%;
    height:12%;
    width:28%;
    background-color: blue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    border-radius: 10px;
    border:none;
}

.sign-in-2{
    position: absolute;
    height: 5%;
    width: 10%;
    left:51%;
    top:79%;
    background-color: transparent;
    border-radius: 10px;
    border: none;
}



.explore{
    display: flex;
    position: absolute;
    top:87.4%;
    height:68%;
    width:100%;
    border:none;
}

.payments{
    position:absolute;
    left:18.5%;
    bottom:23%;
    height:23.7%;
    width:8.5%;
    background-color: transparent;
    border-radius: 10px;
    border:none;
}



.retain{
    position:absolute;
    left:36.5%;
    bottom:23%;
    height:23.7%;
    width:8.5%;
    background-color: transparent;
    border-radius: 10px;
    border:none;
}

.reporting{
    position:absolute;
    left:54.5%;
    bottom:23%;
    height:23.7%;
    width:8.5%;
    background-color: transparent;
    border-radius: 10px;
    border:none;
}

.convert{
    position:absolute;
    left:72.4%;
    bottom:23%;
    height:23.7%;
    width:8.5%;
    background-color: transparent;
    border-radius: 10px;
    border:none;
}


.payment-options{
    display: flex;
    position: absolute;
    top:155.5%;
    height:85%;
    width:100%;
    border:none;
}

.list1{
    position:absolute;
    left:31%;
    bottom:56%;
    list-style-type:none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border:;
}

.list-items{
    padding:22%;
}
/*
.learn-more{
    position:absolute;
    top:58.3%;
    left:43%;
    height:7%;
    width:15.5%;
    background-color: transparent;
    border:none;
    box-shadow: none;
}
*/

.selling-points{
    display: flex;
    position: absolute;
    top:240.7%;
    height:109.5%;
    width:100%;
    border:none;}

.email-dashboards{
    position:absolute;
    top:43.2%;
    left:28.6%;
    height:3.8%;
    width:11%;
    border-radius: 5px;
    background-color: transparent;
    border:none;}

.task-management{
    position:absolute;
    top:43.2%;
    right:26.6%;
    height:3.8%;
    width:11%;
    border-radius: 5px;
    background-color: transparent;
    border:none;
}

.analytics{
    position:absolute;
    top:85.5%;
    left:28.4%;
    height:3.8%;
    width:11%;
    border-radius: 5px;
    background-color: transparent;
    border:none;
}

.project-calendars{
    position:absolute;
    top:85.5%;
    right:26.6%;
    height:3.8%;
    width:11%;
    border-radius: 5px;
    background-color: transparent;
    border:none;
}


.doubletap-footer{
    display:flex;
    position: absolute;
    top:350%;
    height:47%;
    width:100%;
    border:none;
}

.get-started{
    position:absolute;
    top:40%;
    left:34.5%;
    height:12%;
    width:15%;
    border-radius: 10px;
    background-color: white;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    border:none;
}

.chat-with-us-2{
    position:absolute;
    top:40%;
    right:34.5%;
    height:12%;
    width:15%;
    border-radius: 10px;
    background-color: white;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
    border:none;
} */